* {
    box-sizing: border-box;
    
}
.mainBody{
    width:100%;
    height:100%;

    
}

.top-f {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.seerch {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userDisplay {
    display: flex;
    justify-content: center;
    gap: 7rem;
    margin-right: 300px;  
}
.formulaOneTable{
    display: flex;
    width: 700px;

}
.results {
    margin-left: 100px;
    margin-right: 100px;
}

/* .table-header{
   color: white;
   
}


#table-results {
   
   color: whitesmoke;
}

 */
